<a href="https://colab.research.google.com/github/Jfgp3001/JayneFame/blob/main/python20211013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Conditions and If statements
 20211013

 https://www.w3schools.com/python/python_conditions.asp

a = b

= ==> assignment not equal

In [1]:
a = 45
b = 400
if b >a:
  print("b is greater than a")

b is greater than a

In [4]:
a = 56
b = 34
if b > a:
  print("b is greater than a")

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [9]:
a = 120
b = 120
if b > a:
  print("b greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [10]:
a = 320
b = 50
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [11]:
a = 500
b = 50
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
a = 33
b = 20
if b > a:
  print("b is greater than a")

In [ ]:
a = 100
b = 100
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# leap year

https://en.wikipedia.org/wiki/Leap_year

In [ ]:
year= eval(input("Please input the year"))

if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

Please input the year204
204 is a leap year

## For loop

https://www.w3schools.com/python/python_for_loops.asp

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
for x in range(11):
  print(x)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "apple":
    break

apple
banana

In [ ]:
for x in range(10):
  print(x)
  if x == 4:
    break

0
1
2
3
4

In [ ]:
for x in range(10):
    if x == 4:
        continue
    print(x)

0
1
2
3
5
6
7
8
9

In [ ]:
for x in range(12):
  if x%5 == 0:
   continue
  
  print(x)

1
2
3
4
6
7
8
9
11